li.ui-state-default{
    border:none;
    border-bottom:1px solid #ddd;
    padding-bottom: 15px ;
}

.todolist{
    background-color:#FFF;
    padding:20px 20px 10px 20px;
    margin-top:10px;
}

.my-form{
    margin-top: 20px;
}