<!DOCTYPE html>
<html ng-app="TodoApp">
<head>
    <title>ToDo list</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="Styles/site.css">

    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/todoService.js"></script>
    <script src="Scripts/todoController.js"></script>
</head>
<body ng-controller="TodoController">
    <div class="container">
        <div class="row">
            <form class="form-inline my-form">
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="isCompleted" />
                    </label>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="exampleInputPassword3">Password</label>
                    <input type="text" class="form-control" id="exampleInputEmail3" ng-model="name" placeholder="Todo..." />
                </div>
                <input type="button" ng-show="!isLoading" class="btn btn-success" ng-click="addItem()" value="Add" />
                <div id="addLoader" ng-show="isLoading" class="loader"><img src="/Content/loader2.gif" alt="Loader" /></div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-4 todolist">
                <ul class="list-unstyled" ng-repeat="todo in items track by $index">
                    <li class="ui-state-default">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="todo.isCompleted" ng-change="updateItem(todo)" />
                        </label>
                        {{todo.name}}
                        <button class="remove-item btn btn-default btn-xs pull-right" ng-click="removeItem($index, todo)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>
